body{
    color: #fff;
    font-family: arial;
    background-image: url(https://images.pexels.com/photos/4386489/pexels-photo-4386489.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4386489.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  
  }
  .cover{
    width: 100%;
    background:  rgba(5,5,5,0.7);
    height: auto; 
    padding: 50px 0px 50px 0px;
    }
  .head-cnt{
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
  }
  .img-div, .bottom-text, a, h3{
    text-align: center;
  }
  .img-caption{
    margin: 20px 0px 0px 0px;
  }
  .img-div{
    background: #fff;
    color: #000;
    padding: 50px 10px;
    margin: 0px 10px;
  }
  img{
    display: block;
    max-width: 1050px;
    margin: 0px auto;
  }
  .image{
    max-width: 100%;
  }
  .tribute{
    width: 50%;
    margin: 0px auto;
  }
  .quote{
    margin: 0px auto;
    font-style: italic;
    color: yellow;
    width: 90%;
    line-height: 25px;
  }
  li{
    margin-bottom: 25px;
    line-height: 25px;
  }
  span{
    font-weight: bold;
  }
  a{ 
    color: yellow;
    margin: 0px 0px 0px 5px;
  }
  